.filter-check {
  display: flex;
  flex-direction: column;
  width: 100%;

  .filter-check__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 4px;
  }
}

.filter-check__options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}
