.profile-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;

  .profile-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--purple);
    text-align: left;
    align-self: flex-start;
  }

  .profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;

    .profile-photo {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .default-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: lightgray;
      border-radius: 50%;
      padding: 2rem;
      color: #636262;
      border: 7px solid white;
      box-shadow: 0 0 0 2px #636262;
      margin-left: 0;
    }

    .edit-icon {
      position: absolute;
      bottom: 0;
      right: 10px;
      background-color: var(--purple);
      border-radius: 50%;
      padding: 5px;
      color: #ffffff;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .profile-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;

    .institution-display {
      label {
        font-weight: bold;
        font-size: 14px;
        color: var(--dark-gray);
      }

      p {
        margin-top: 0.7rem;
      }
    }

    .textfield,
    .selectfield {
      width: 100%;
    }

    .selectfield {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: #333;
      }

      select {
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        font-size: 1rem;
        color: #333;
        appearance: none;

        &:focus {
          outline: none;
          border-color: var(--purple);
        }
      }
    }

    .full-width {
      grid-column: span 2;
    }
  }

  button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--purple);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
