.event * {
  box-sizing: border-box;
}

.event {
  display: flex;
  align-items: center;

  .event-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 5rem;

    .start-time,
    .end-time {
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
    }

    .start-time {
      color: var(--purple);
      font-weight: 500;
    }

    .end-time {
      color: var(--cloudy-blue);
    }
  }

  .separator {
    width: 1px;
    height: 70px;
    background-color: var(--cloudy-blue);
    margin-left: 2rem;
    margin-right: 2.5rem;
  }

  .event-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .event-header {
      display: flex;
      align-items: center;

      .event-label {
        font-size: 24px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: var(--cloudy-blue);
        padding-right: 32px;
      }

      .button-container-size-1 {
        width: 80px;
        height: 25px;
      }
    }

    .event-name {
      font-size: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      color: #000000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
