.filter-box {
  width: 100%;
  max-width: 700px;
  justify-content: space-between;
}

.filter-title.filter-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #1a1a1a;
  margin-bottom: 4px;
}

.filter-list-container {
  border: 2px solid #6b7a99;
  border-radius: 8px;
  padding: 8px;
  max-height: 140px;
  overflow-y: auto;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  position: relative;
  @media only screen and (max-width: 768px) {
    max-width: 95%;
  }
}

.filter-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #6b7a99;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.filter-list-container::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.filter-list-container {
  scrollbar-width: none;
}

.filter-checkbox .MuiCheckbox-root {
  color: #6b7a99;
}

.filter-checkbox.Mui-checked.filter-checkbox.Mui-checked {
  color: var(--purple);
}

.filter-list::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 10px;
}

.filter-label.filter-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.arrow-icon {
  margin: 0 8px;
  font-size: 30px;
  color: #1a1a1a;
}
