@import '../../styles/global.scss';

.create-event {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: var(--purple);
  }
}

h4 {
  color: var(--light-gray);
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding-top: 2rem;
}

.textarea-event-name {
  overflow: hidden;
}

textarea,
select,
input[type='date'] {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  font-size: 1rem;
  box-sizing: border-box;
}

.basic-multi-select {
  display: block;
  border-radius: 6px;
  border: 1px solid var(--light-gray);
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 3rem;
}

.large-textarea {
  grid-column: span 2;
  height: 10rem;
}

.item {
  padding-right: 2rem;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23999" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1rem;
  height: 3rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
  }

  .large-textarea {
    width: 100%;
  }
}
.image-input {
  display: none;
}

.selected-image {
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 72rem;
  margin-top: 1rem;
  border: 2px solid var(--purple);
  border-radius: 10px;
}

.add-image-button {
  position: absolute;
  bottom: -1rem;
  right: -4rem;
}

.event-image {
  display: block;
  width: 100%;
  height: 20rem;
  border-radius: 5px;
  object-fit: cover;
}
