.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 50px;
  background-color: var(--cloud2);
  color: var(--slate);

  .about-us-title {
    font-size: 40px;
    font-weight: bold;
    color: var(--purple);
  }

  .about-us-content {
    max-width: 600px;
    text-align: left;
    font-size: 28px;
    strong {
      font-weight: bold;
    }
  }

  .contact-section {
    text-align: left;

    h3 {
      font-size: 40px;
      font-weight: bold;
      color: var(--purple);
      margin-top: 30px;
    }

    p {
      margin: 10px;
      font-size: 28px;
    }
  }

  .social-section {
    text-align: left;
    margin-bottom: 30px;

    h3 {
      font-size: 40px;
      font-weight: bold;
      color: var(--purple);
      margin-top: 30px;
    }

    .social-icons {
      display: flex;
      justify-content: left;

      .social-icon {
        color: var(--slate);
        font-size: 28px;
        transition: color 0.3s;

        &:hover {
          color: var(--dark-gray);
        }

        &.instagram:hover {
          color: var(--purple);
        }

        &.youtube:hover {
          color: var(--purple);
        }

        &.linkedin:hover {
          color: var(--purple);
        }
      }
    }
  }

  .logos-section {
    display: flex;
    justify-content: left;
    margin-top: 30px;

    .logo {
      height: 100px;
    }
  }
}
