.content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 768px) {
    height: auto;
  }
}

.about-cosmos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold !important;
  text-align: left;
  color: var(--purple);
  text-align: left;

  @media (max-width: 768px) {
    font-size: 1.75rem;
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.footer-section {
  margin-top: auto;
}

.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.body-text {
  font-size: 1.5rem !important;

  @media (max-width: 768px) {
    font-size: 1.25rem !important;
  }

  @media (max-width: 480px) {
    font-size: 1rem !important;
  }
}

.padding-bottom {
  padding-bottom: 20px;

  @media (max-width: 480px) {
    padding-bottom: 15px;
  }
}

.padding-top {
  padding-top: 40px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.social-icon {
  color: var(--slate);
  font-size: 2.5rem;
  transition: color 0.3s;

  &:hover {
    color: var(--dark-gray);
  }

  &.instagram:hover {
    color: #e1306c;
  }

  &.youtube:hover {
    color: #ff0000;
  }

  &.linkedin:hover {
    color: #0077b5;
  }

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 1.75rem;
  }
}

.logo {
  height: 5rem;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    height: 80px;
  }

  @media (max-width: 480px) {
    height: 60px;
  }
}

.logoCapes {
  height: 3rem;

  @media (max-width: 768px) {
    height: 60px;
  }

  @media (max-width: 480px) {
    height: 40px;
  }
}
